
.got {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin-left: 10px;
}
.lables{
  color: blue;
  font-weight: 600px;
  width: 100px;
}

.form-container {
  margin-left: 30px;
  border: 5px solid #52f820;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px; 
  box-sizing: border-box; 
  max-width: 460px; 
  width: 100%; 
  box-shadow: 1px  3px 8px rgb(24, 23, 23);
  backdrop-filter: blur(0.5px);
}


.labels {
  display: block;
  margin-bottom: 8px;
}


 input {
  width: calc(100% - 10px);  
  padding: 8px;
  margin-bottom: 15px; 
  border-radius: 20px;
  width: 250px;
 }
input:hover{
  background-color: rgb(240, 143, 211);
}

.error-message {
  color: red;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}


.boat {
  margin: auto;
  height: 950px;
  background-image: url('../src/images/bookdaycare.jpg'); 
  background-size: cover;
  object-fit: cover;
  background-position: center;
  font-family: 'Arial', sans-serif;
}

h4 {
  color: rgb(9, 12, 3);
  font-weight: bold;
  font-size: larger;
}

.head {
  max-width: 600px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}
/* Link{
  color: rgb(95, 6, 168);
} */

button{
  border-radius: 20px;
  background-color: rgb(32, 151, 32);
}


 
