.background{
  
  background-image: url('images/featured-2.png');
  background-color: #e3fc04;
}



.builder {
  position: relative;
  z-index: 1;
}

.datetime {
    display: flex;
    align-items: center;
    font-size: larger;   
}

.datetime p {
    margin: 0;
    font-weight: bold;
}

 a {
    text-decoration: none;
    font-size: 20px;
    color: #e9dada;
    font-weight: 800;
    border: none;
    text-align: left;
    cursor: pointer;
    outline: none;
    justify-content: space-between; 
    display: block;   

  }



.sidebar {

    height: 80%;
    position: fixed;
    top: 0;
    left: 8px;
    background-color: #000000;
    overflow-x: hidden;
    padding-top: 10px;
    margin-top: 90px;
 
}


.sidebar a {
    padding: 30px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #e9dada;
    font-weight: 800;
    display: block;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    margin-top: 5px;
  }
.sidebar a:hover{
    color: #e3fc04;
    
}
.iconic i{
    color: #e3fc04;
}

 
  .sidebar a:nth-child(3) {
    margin-top: 20px; 
  }


